* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}


.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1140px;
}

.top {
  height: 100%;
}

.top_text {
  font-size: 5vh;
  padding-top: 2vh;
  padding-left: 2vh;
  margin-right: 20px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.8;
}

.remote_user {
  display: flex;
}

.image {
  height: 6vh;
  padding-top: 2vh;
  padding-right: 2vh;
}

.background {
  background: #2e9b54;
  min-height: 10vh;
  display: inline-flex;
  justify-content: space-between;
}

.content_background {
  background: #4fc87a;
  min-height: 80vh;
}

.border_words {
  background-color: #423a3a;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: 2%;
  max-width: 80vh;
  min-width: 84%;
  min-height: 40vh;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.words {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center
}

.words_text {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 35px;
  font-size: 300%;
  line-height: 48px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #ffffff;
  opacity: 0.6;
}

.line {
  border: none;
  background-color: rgb(194, 178, 178);
  height: 2px;
  margin: 0vh 5vh 0vh 5vh;
}

button {
  min-height: 7vh;
  width: 35%;
  margin-top: 5vh;
  background-color: #ff6a21;
  border: aliceblue;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button_2 {
  background-color: #2e9b54;
  width: 30%;
}

.button_drop {
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 8vh;
}

.table_sound {
  display: flex;
}

.next_button {
  display: flex;
  justify-content: space-around;
  max-width: 60%;
  margin: auto;
}

.repeat_button {
  display: flex;
  justify-content: space-around;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button_text {
  font-size: 300%;
  width: auto;
  line-height: 48px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #ffffff;
  opacity: 0.8;
}

.sign_out {
  margin-top: 1vh;
  margin-left: 8vh;
  margin-bottom: 1vh;
  opacity: revert;
}

.login {
  text-align: right;
  padding-top: 18vh;
  padding-right: 6vh;
}

.login_text {
  font-size: 3vh;
  line-height: 48px;
  letter-spacing: 0.05em;
  opacity: 0.8;
  margin-top: 2vh;
}

.login_button {
  min-height: 4vh;
  width: 125px;
}

.login_button_text {
  font-size: 2vh;
  opacity: 1;
}

.login_sign_up {
  margin-left: 5vh;
  margin-top: 18vh;
}

.dropdown {
  position: relative;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #2e9b54;
  width: max-content;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border-radius: 10px;
  opacity: 80%;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.line_menu {
  border: none;
  background-color: black;
  height: 2px;
  margin: 0vh 5vh 0vh 5vh;
}

.line_menu2 {
  margin: revert;
  width: 21vh;
}

.footer_text {
  font-size: 300%;
  line-height: 48px;
  letter-spacing: 0.05em;
  text-align: center;
  padding-top: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
  color: #050505;
  opacity: 0.8;
  text-shadow: 0 0 black;
}

.main_image {
  height: 26vh;
  padding-top: 11vh;
}

.main_text {
  line-height: 94px;
  margin-top: 2vh;
  font-size: 3vh;
  letter-spacing: 0.05em;
  text-align: center;
  color: #ffffff;
  opacity: 0.8;
}

.option_form {
  margin-left: 40%;
}

.option_text {
  font-size: 4vh;
  text-align: center;
  padding: 5vh;
}
.radio_second_level {
  margin-left: 5vh;
  display: grid;
}

.radio2 {
  display: block;
  margin-top: 2vh;
}

.radio3 {
  margin-bottom: 2vh;
}

.reset_form {
  margin-left: 30%;
}

.sound_button {
  padding-right: 3vh;
  padding-left: 2vh;
  min-height: 5vh;
  border-radius: 35px;
  background: aliceblue;
}

.div_sound {
  margin-top: 31vh;
}

.registration_heading_text {
  font-size: 6vh;
  text-align: center;
  padding-top: 5vh;
}

.border_words_learn {
  margin-right: auto;
  margin-top: 4vh;
  min-width: 45%;
  min-height: 35vh;
}

.words_learn {
  display: revert;
  padding-top: 25%;
}

.button_learn {
  background-color: #ffffff;
  box-shadow: none;
  margin-top: 2vh;
  min-height: 5vh;
}

.small_button_block {
  display: flex;
  justify-content: center;
  min-height: 7vh;
}

.small_button_learn_up {
  display: none;
}

.small_button_learn {
  width: 49px;
  margin-right: 10px;
  visibility: visible;
}

.button_text_learn {
  color: #000000;
  line-height: 1;
}

.ear_words_button {
  width: 12%;
  margin-top: -2vh;
  margin-left: 45%;
}

.input_div {
  display: flex;
  justify-content: center;
  margin-top: 6vh;
}

.input_text {
  line-height: unset;
  margin-top: unset;
}

.input_arrow {
  height: 45px;
  margin-left: 2vh;
}