<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Learn English</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body th:onload="${learnedField} == 2 ? 'speak(\'' + ${word.getWord()} + '\');' : ''">
<div class="container">
    <div th:replace="top"></div>

    <div class="content_background">

        <div class="table_sound">
            <div class="border_words_learn border_words">
                <div class="words_learn words ">
                    <button class="sound_button ear_words_button" type="button"
                            th:onclick="'speak(\'' + ${word.getWord()} + '\');'"
                            th:if="${learnedField} == 2">
                        <img th:src="@{/img/sound--green.svg}" alt="sound">
                    </button>
                    <p class="words_text" th:utext="${word.getTranslate()}"
                       th:if="${learnedField} == 0 or ${learnedField} == 1 or ${learnedField} == 3">
                    </p>
                    <p class="words_text"
                       th:utext="${wordsBlockIsLearned} ? ${wordsBlockIsLearned} : ${libraryIsLearned}"
                       th:if="${wordsBlockIsLearned} or ${libraryIsLearned}">
                    </p>
                    <div id="ear_word_guessed" th:if="${learnedField} == 2" style="visibility: hidden">
                        <p class="words_text" th:utext="${word.getTranslate()}"></p>
                    </div>
                    <div id="word_guessed" style="visibility: hidden">
                        <p class="words_text" th:utext="${word.getTranscription()}"></p>
                        <p class="words_text" th:utext="${word.getWord()}"></p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div th:if="${learnedField} == 0 or ${learnedField} == 2">
                <div class="repeat_button" id="word_button1">
                    <button class="button_learn button_2" type="button" th:id="${threeWords.get(0).getWord()}"
                            th:onclick="'paintButton(\'' + ${word.getWord()} + '\', \'' + ${threeWords.get(0).getWord()} + '\');'">
                        <p class="button_text_learn button_text" id="word1"
                           th:utext="${threeWords.get(0).getWord()}">
                            Word
                        </p>
                    </button>
                </div>
                <div class="repeat_button" id="word_button2">
                    <button class="button_learn button_2" type="button" th:id="${threeWords.get(1).getWord()}"
                            th:onclick="'paintButton(\'' + ${word.getWord()} + '\', \'' + ${threeWords.get(1).getWord()} + '\');'">
                        <p class="button_text_learn button_text" id="word2"
                           th:utext="${threeWords.get(1).getWord()}">
                            Word
                        </p>
                    </button>
                </div>
                <div class="repeat_button" id="word_button3">
                    <button class="button_learn button_2" type="button" th:id="${threeWords.get(2).getWord()}"
                            th:onclick="'paintButton(\'' + ${word.getWord()} + '\', \'' + ${threeWords.get(2).getWord()} + '\');'">
                        <p class="button_text_learn button_text" id="word3"
                           th:utext="${threeWords.get(2).getWord()}">
                            Word
                        </p>
                    </button>
                </div>
            </div>
            <div class="small_button_block" id="small_button_block1" th:if="${learnedField} == 1">
                <div class="repeat_button" th:each="letter, stat : ${word.getArrayLetters()}">
                    <button class="button_learn small_button_learn small_button_learn_up" type="button"
                            th:id="${letter} + ${stat.index}">
                        <p class="button_text_learn button_text" th:utext="${letter}">
                            Word
                        </p>
                    </button>
                </div>
            </div>
            <div class="small_button_block" id="small_button_block2" th:if="${learnedField} == 1"
                 th:with="arrayWord = ${word.getShuffleArrayLetters()}">
                <div class="repeat_button" th:each="letter, stat : ${arrayWord}">
                    <button class="button_learn small_button_learn" type="button"
                            th:id="${letter} + ${stat.index} + 'down'"
                            th:onclick="'choiceLetter(\'' + ${word.getWord()} + '\', \''+ ${letter} + '\', ' + this.id + ');'">
                        <p class="button_text_learn button_text" th:utext="${letter}">
                            Word
                        </p>
                    </button>
                </div>
            </div>
            <div class="input_div" th:if="${learnedField} == 3">
                <input class="login_text input_text" type="text" th:id="input_text" placeholder="Type the text">
                <img class="input_arrow" th:src="@{/img/arrow.png}" alt="arrow"
                     th:onclick="'checkInput(\'' + ${word.getWord()} + '\');'">
            </div>
        </div>
        <form th:method="GET">
            <div class="repeat_button" th:id="next_button_div" style="display: none">
                <input type="hidden" th:name="learnedField" th:value="${learnedField}+1">
                <input type="hidden" th:name="repeatedField" th:value="${repeatedField}">
                <input type="hidden" id="wrongChoice" th:name="wrongChoice" th:value="choice">
                <input type="hidden" id="checkedInput" th:name="checkedInput" th:value="choice">
                <button type="submit" id="next_button"
                        th:formaction="@{/learn/save/{wordId}(wordId = ${word.getId()})}">
                    <p class="button_text_learn button_text" id="next_word">
                        Next
                    </p>
                </button>
            </div>
        </form>
        <form th:method="GET" th:if="${wordsBlockIsLearned}">
            <div class="repeat_button" th:id="next_button2_div">
                <button type="submit" id="next_button2"
                        th:formaction="@{/learn/{id}(id = ${libraryId})}">
                    <p class="button_text_learn button_text" id="next_word2">
                        Next
                    </p>
                </button>
            </div>
        </form>
    </div>

    <div th:replace="footer"></div>
</body>
</html>