<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Learn English</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/js}"></script>
</head>
<body>
<div class="container">
    <div th:replace="top"></div>

    <div class="content_background">
        <div>
            <p class="option_text">Type of training</p>
        </div>
        <div class="option_form">
            <form  th:method="GET" th:action="@{/exercises/{id}(id = ${libraryId})}">
                <div>
                    <label class="radio2 radio3" for="format1">
                        <input type="radio" id="format1" name="format" value="learn" disabled>
                        <span class="words_text">Learn</span>
                    </label>
                    <div class="line_menu line_menu2"></div>
                    <label class="radio2" for="format2">
                        <input type="radio" id="format2" name="format" value="repeat" checked>
                        <span class="words_text">Repeat</span>
                    </label>
                </div>
                <div class="radio_second_level">
                    <label class="radio2" for="sort1">
                        <input type="radio" id="sort1" name="direction" value="direct" checked>
                        <span class="words_text">direct</span>
                    </label>
                    <label class="radio2" for="sort2">
                        <input type="radio" id="sort2" name="direction" value="reverse">
                        <span class="words_text">reverse</span>
                    </label>
                    <label class="radio2" for="sort3">
                        <input type="radio" id="sort3" name="direction" value="shuffle">
                        <span class="words_text">shuffle</span>
                    </label>
                </div>
                <button class="button" type="submit" id="button">
                    <p class="button_text">Start</p>
                </button>
            </form>
        </div>
    </div>

    <div th:replace="footer"></div>
</div>
</body>
</html>